.form{
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.formArea input{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #f4b200;
    padding-left: 20px;
}


 
 .submit{
        background-color: #f4b200;
        height: 35px;
        width: 90px;
        color: white;
        border-radius: 20px;
        border-width: 0;
        transform: .3s;
        cursor: pointer;
    }
.submit:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
